body {
    font-family: Verdana, sans-serif;
    background: #eee;
    font-size: 12px;
}
 
#page {
    line-height: 1.5;
    width: 920px;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}

#container {
    width: 880px;
    padding:20px 10px 20px 20px;
    background: white;
    overflow:hidden;
    font-size:1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border:4px solid white;
    margin-bottom:20px;
    -webkit-box-shadow:#ddd 2px 2px 2px;
    -moz-box-shadow:#ddd 2px 2px 2px;
    
}

#col-a {
    width:335px;
    margin-right:10px;
    float:left;
}

#col-b {
    float:right;
    width:518px;
    margin-right:10px;
}


/* ..................................................
    Navigation                                      */

#cluster-nav { 
    overflow:auto;
}

#cluster-nav div {
    background:#eee;
    width:50px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

#cluster-nav a {
    display:block;
    padding:25px;
    
}


/* ..................................................
    Text styles                                     */

a { 
    color:#069;
}

h1 { 
    font-size:1.6em; 
    margin:10px 0px 5px 25px;
}

#container h1 {
    margin:0; 
}

h2 { 
    font-size:1.3em;
    margin-top:1em; 
}

/* ..................................................
    Table styles                                     */

.even { 
    background:#f1eee7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul li { 
    padding:4px 6px;
}

#map-list {
    list-style:none;
    margin:0;
    padding:0;
}

.map-id {
    display:inline-block;
    width:20px;
}

/* ..................................................
    Misc.                                           */

.button {
	font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 11px !important;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-radius: 4px;
}
