body {
    font-family: Verdana, sans-serif;
    background: #eee;
    font-size: 12px;
}
 
#page {
    line-height: 1.5;
    width: 920px;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}
#container {
    width: 880px;
    padding:20px;
    background: white;
    overflow:hidden;
    font-size:1em;
}
