{% extends "base.html" %}
{% load core %}

{% block title %}Cluster Book{% endblock %}

{% block content %}

<div id="col-a">
<h1>Cluster {{cluster}}</h1>

<table id="map-list">
	<thead>
		<tr>
			<th colspan="3">Map</th>
		</tr>
	</thead>
	<tbody>
	{% for m in maps %}
		<tr class="{% cycle odd,even %}">
			<td>{% if m.map_id  %}{{m.map_id}}{% endif %}</td>
			{% if m.map_id  %}
			<td><a href="/cluster/{{cluster}}/map/{{m.map_id}}">{{ m.title }}</a></td>
			{% else %}
			<td><a href="/cluster/{{cluster}}/map/{{m.slug}}">{{ m.title }}</a></td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
</div>

<div id="col-b">
<h1>{{map_title}}</h1>
<span><a href="/assets/{{latest.the_file}}" class="button">Download Latest</a></span> 
{% if color %}<a href="/assets/{{color.the_file}}">download color version</a>{% endif %}
{{files}}
<h2>Map details</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

{% if latest.thumbnail %}
	<h2>Preview</h2>
	
	<img src="{{latest.thumbnail.url}}" alt=""/>
	
{% endif %}

{% if appendices %}
<h2>Appendices</h2>
<ul>
{% for f in appendices %}
<li>{{f}}</li>
{% endfor %}
</ul>
{% endif %}

{% if older_maps %}
<h2>Older maps</h2>
<ul>
{% for f in older_maps %}
<li><a href="/assets/{{f.the_file}}">Quarter {{f.quarter}} {{f.year}}</a></li>
{% endfor %}
</ul>
{% endif %}
	
</div>

{% endblock %}

