{% extends "base.html" %}


{% block title %}Cluster Book{% endblock %}

{% block content %}

<div id="col-a">
<h1>Cluster {{cluster}}</h1>

<table id="map-list">
	<thead>
		<tr>
			<th colspan="3">Map</th>
		</tr>
	</thead>
	<tbody>
	{% for m in maps %}
		<tr class="{% cycle odd,even %}">
			<td>{% if m.map_id  %}{{m.map_id}}{% endif %}</td>
			<td><a href="/cluster/{{cluster}}/map/{{m.map_id}}">{{ m.title }}</a></td>
		</tr>
	{% endfor %}
</table>
</div>

<div id="col-b">
	<div style="width:100%; height:300px" id="map"></div>
</div>

{% endblock %}


{% block head %}

<!-- was ABQIAAAA8E1c1-rPGKc2CBMpfB181RQCULP4XOMyhPd8d_NrQQEO8sT8XBRf1rJ17f4tMfExvM9_vY718ffevg -->
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ settings.GOOGLE_MAPS_API_KEY }}'></script> 
<script src="http://openlayers.org/api/OpenLayers.js"></script> 
<script type="text/javascript"> 
    var map;

    function init() {
        map = new OpenLayers.Map('map');
      //  map.addControl(new OpenLayers.Control.LayerSwitcher());
        
        var gphy = new OpenLayers.Layer.Google(
            "Google Physical",
            {type: G_PHYSICAL_MAP}
        );		


	//	var clusters = new OpenLayers.Layer.GML("Clusters", "/kml/all.kml");
		
		var clusters = new OpenLayers.Layer.GML("KML", "/kml/single/{{cluster}}.kml", {
		   format: OpenLayers.Format.KML
		})
		

        map.addLayers([gphy, clusters]);
        map.setCenter(new OpenLayers.LonLat(-83.143158, 42.3763), 11);
    }
</script> 

	
{% endblock %}

