{% extends "base.html" %}


{% block title %}Cluster Book{% endblock %}

{% block content %}


<div id="col-a">
<h1>Cluster {{cluster}}</h1>

<ul id="map-list">
	{% for m in maps %}
		<li class="{% cycle odd,even %}">
			<span class="map-id">{% if m.map_id  %}{{m.map_id}}{% endif %}</span>
			{% if m.map_id  %}
			<span class="map-title"><a href="/cluster/{{cluster}}/map/{{m.map_id}}">{{ m.title }}</a></span>
			{% else %}
			<span class="map-title"><a href="/cluster/{{cluster}}/map/{{m.slug}}">{{ m.title }}</a></span>
			{% endif %}
		</li>
	{% endfor %}
</ul>
</div>

<div id="col-b">
	
	<div style="width:100%; height:300px" id="map"></div>
</div>

{% endblock %}


{% block head %}

<!-- was  -->
<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA8E1c1-rPGKc2CBMpfB181RSTZLRs7D-Z-pQY-iUlzqRzHZ3ibRQ9BpQaTIeKZQgDsAxGDvNNK3omzw'></script> 
<script src="http://openlayers.org/api/OpenLayers.js"></script> 
{{ gmap_api_version }}
<script type="text/javascript"> 

	google.load("maps", "2");
 
	// Call this function when the page has been loaded

    function init() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
		map.setMapType(G_PHYSICAL_MAP);
		map.addControl(new GSmallMapControl());
		
       // map.setCenter(new GLatLng(42.3763, -83.143158), 10);
		geoXml = new GGeoXml("http://ec2-184-73-101-206.compute-1.amazonaws.com/kml/single/{{cluster}}.kml");
		map.addOverlay(geoXml);
		
		
		// Define the two corners of the bounding box
		var sw = new GLatLng({{y_min}}, {{x_min}});
		var ne = new GLatLng({{y_max}}, {{x_max}});

		// Create a bounding box
		var bounds = new GLatLngBounds(sw, ne);

		// Center map in the center of the bounding box
		// and calculate the appropriate zoom level
		map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
		
		
      }
    }


	

</script> 

	
{% endblock %}

